/* Global CSS */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #FD6E0A;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 18px 35px; 
}
.btn:hover {
  cursor: pointer;
}

/* Main CSS */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width:71.25%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2 a{
    font-size: 45px;
    color:#181818;
    font-weight: 900;
    text-decoration: none;
}
.color-orange{
    color:#FD6E0A;
}
.menu ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.menu ul a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}