/* Global CSS */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    display: flex;
    align-items: center;
    gap:30px;
}
.primary-btn{
    background-color: #FD6E0A;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 18px 35px; 
    cursor: pointer;
}
.secondary-btn{
    border:1px solid #FD6E0A;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px 35px; 
    cursor: pointer;
    background-color: transparent;
}

/* Main CSS */
header{
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    width:71.25%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2 a{
    font-size: 45px;
    color:#181818;
    font-weight: 900;
    text-decoration: none;
}
.color-orange{
    color:#FD6E0A;
}
.menu ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.menu ul a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}


/* Banner Start */

#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 66px 38px 0px 230px;
}
.banner-content{
    max-width:585px ;
}
.banner-content h2{
    color:#474747;
    font-weight: 600px;
    font-size: 45px;
}
.banner-content h1{
    color:#181818;
    font-weight: 800px;
    font-size: 85px;
    margin: 5px 0px 20px;
}
.banner-content p{
    color:#757575;
    font-weight: 400px;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}
.banner-image img{
    max-width: 584px;
    vertical-align: middle;
    max-height: 676px;
}